<app-nav (searchTextChanged)="onSearchTextChanged($any($event))" (allProducts)="getAll()"></app-nav>

<div class="container">

  <div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <app-filter (categoryChange)="onButtonClick($any($event))"></app-filter>
            </div>
        
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        
            <div class="col"></div>
        </div>
    </div>
  </div>
</div>
