<div class="card">
    <div class="list-group">
        <button class="list-group-item list-group-item-action" (click)="categoryClick('smartphones')">Smartphones</button>
        <button class="list-group-item list-group-item-action" (click)="categoryClick('laptops')">Laptops</button>
        <button class="list-group-item list-group-item-action" (click)="categoryClick('fragrances')">Fragrances</button>
        <button class="list-group-item list-group-item-action" (click)="categoryClick('skincare')">Skincare</button>
        <button class="list-group-item list-group-item-action" (click)="categoryClick('groceries')">Groceries</button>
        <button class="list-group-item list-group-item-action" (click)="categoryClick('home-decoration')">Home decoration</button>
      </div>
</div>


