<div class="card">
    <div class="list-group">
        <button class="list-group-item list-group-item-action" routerLink="/smartphones">Smartphones</button>
        <button class="list-group-item list-group-item-action" routerLink="/laptops">Laptops</button>
        <button class="list-group-item list-group-item-action" routerLink="/fragrances">Fragrances</button>
        <button class="list-group-item list-group-item-action" routerLink="/skincare">Skincare</button>
        <button class="list-group-item list-group-item-action" routerLink="/groceries">Groceries</button>
        <button class="list-group-item list-group-item-action" routerLink="/home-decoration">Home decoration</button>
      </div>
</div>


