<div class="card">
    <div class="list-group">
        <button class="list-group-item list-group-item-action">Smartphones</button>
        <a href="#" class="list-group-item list-group-item-action">Laptops</a>
        <a href="#" class="list-group-item list-group-item-action">Fragrances</a>
        <a href="#" class="list-group-item list-group-item-action">Skincare</a>
        <a href="#" class="list-group-item list-group-item-action ">Groceries</a>
        <a href="#" class="list-group-item list-group-item-action ">Home-decoration</a>
      </div>
</div>


